/* Global reset for elements */
*, *::after, *::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Variables for colors and measurements */
  :root {
    --primary: #e0e7f1;
    --secondary: #125dc8;
    --light: #f4f5f5;
    --danger: #d81616;
    --shadow: rgba(8, 47, 102, 0.12);
    --base: 1rem;
    --large: calc(var(--base) * 5);
    --med: calc(var(--base) * 3);
    --sm: calc(var(--base) * 1.5);
  }
  
  /* Dark theme variables */
  :root.dark {
    --primary: #12223b;
    --secondary: #627da6;
    --light: #003074;
    --danger: #9f0b0b;
    --shadow: rgba(152, 174, 205, 0.05);
  }
  
  /* Body styles */
  body {
    font-family: 'Odibee Sans', cursive;
    background-color: var(--primary);
    padding: var(--med);
    display: grid;
    place-items: center;
    color: var(--secondary);
  }

/* Navbar styles */
.navbar {
    background-color: var(--secondary);
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
}

.navbar ul li a {
    color: var(--primary);
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* Mountain and Cloud styles */
.wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  background: rgba(52, 152, 219,0.5);
}
.wrapper div, .wrapper div::after, .wrapper div::before {
  position: absolute;
}
.mountain {
  width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #7f8c8d;
  bottom: 0;
  left: 0;
}
.mountain::after {
  width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #7f8c8d;
  bottom: -170px;
  left: -130px;
  content: "";
}
.mountain::before {
  width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #7f8c8d;
  bottom: -200px;
  left: -50px;
  content: "";
}
.cloud {
  width: 36px;
  height: 30px;
  top: 50px;
  left: 110px;
  background: #ecf0f1;
  animation: cloud 20s linear infinite;
}
.cloud::before {
  width: 50px;
  height: 50px;
  background: #ecf0f1;
  content: "";
  border-radius: 50%;
  bottom: 0;
  left: -25px;
}
.cloud::after {
  width: 40px;
  height: 40px;
  background: #ecf0f1;
  content: "";
  border-radius: 50%;
  bottom: 0;
  left: 15px;
}

@keyframes cloud {
  0% { transform: translateX(-200px);}
  100% { transform: translateX(200px);}
}

.cloud2 {
  width: 18px;
  height: 15px;
  top: 30px;
  left: 125px;
  background: #ecf0f1;
  animation: cloud2 40s linear infinite;
}
.cloud2::before {
  width: 25px;
  height: 25px;
  background: #ecf0f1;
  content: "";
  border-radius: 50%;
  bottom: 0;
  left: 7px;
}
.cloud2::after {
  width: 20px;
  height: 20px;
  background: #ecf0f1;
  content: "";
  border-radius: 50%;
  bottom: 0;
  left: -8px;
}

@keyframes cloud2 {
  0% { transform: translateX(-300px);}
  100% { transform: translateX(300px);}
}

.flag {
  width: 4px;
  height: 0;
  background: #9E6D4D;
  top: 54px;
  left: calc(50% - 2px);
  animation: pole 10s linear infinite;
}
@keyframes pole {
  0% { height: 0; top: 54px; }
  20% { height: 0; top: 54px; }
  30% { height: 30px; top: 24px; }
  70% { height: 30px; top: 24px; }
  80% { height: 0; top: 54px; }
}
.flag::after {
  content: "";
  height: 0;
  width: 0;
  left: 8px;
  top: 0px;
  border-top: 8px solid #e74c3c;
  border-bottom: 8px solid #e74c3c;
	border-right: 0px solid transparent;
	border-left: 0px solid transparent;
  animation: tip 10s linear infinite;
}
@keyframes tip {
  31% { border-right: 0px solid transparent; left: 8px; }
  37% { border-right: 8px solid transparent; left: 14px; }
  58% { border-right: 8px solid transparent; left: 14px; }
  64% { border-right: 0px solid transparent; left: 8px; }
}
.flag::before {
  content: "";
  height: 16px;
  width: 0px;
  background: #e74c3c;
  top: 0;
  left: 4px;
  animation: flag 10s linear infinite;
}
@keyframes flag {
  30% { width: 0px; }
  35% { width: 10px; }
  60% { width: 10px; }
  65% { width: 0px; }
}
.dash {
  height: 10px;
  width: 3px;
  background: #c0392b;
  opacity: 0;
  animation: dash 10s linear infinite;
}
.dash1 {
  top: 60px;
  left: 100px;
  transform: rotate(-10deg);
  animation-delay: 1.8s;
}
.dash2 {
  top: 74px;
  left: 100px;
  transform: rotate(10deg);
  animation-delay: 1.6s;
}
.dash3 {
  top: 88px;
  left: 96px;
  transform: rotate(20deg);
  animation-delay: 1.4s;
}
.dash4 {
  top: 102px;
  left: 93px;
  transform: rotate(0deg);
  animation-delay: 1.2s;
}
.dash5 {
  top: 116px;
  left: 96px;
  transform: rotate(-20deg);
  animation-delay: 1s;
}
.dash6 {
  top: 130px;
  left: 102px;
  transform: rotate(-30deg);
  animation-delay: 0.8s;
}
.dash7 {
  top: 144px;
  left: 109px;
  transform: rotate(-20deg);
  animation-delay: 0.6s;
}
.dash8 {
  top: 158px;
  left: 112px;
  transform: rotate(-10deg);
  animation-delay: 0.4s;
}
.dash9 {
  top: 172px;
  left: 113px;
  transform: rotate(0deg);
  animation-delay: 0.2s;
}
.dash10 {
  top: 186px;
  left: 112px;
  transform: rotate(10deg);
  animation-delay: 0s;
}
@keyframes dash {
  0% { opacity: 0; }
  1% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}
  
.theme-container {
padding: var(--sm);
display: grid;
place-items: center;
}

.theme {
width: 50px;
  /* */
    height: 24px; 
    background-color: var(--secondary);
    border-radius: var(--base);
    position: relative;
    cursor: pointer;
  }
  
.theme::before {
content: '';
width: 20px; 
height: 20px;
background-color: var(--primary);
position: absolute;
z-index: 3;
top: 2px;
left: 3px;
border-radius: 50%;
transition: all 300ms ease-in-out;
}

.theme::after {
content: '';
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='3.25' stroke='%23e0e7f1' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3C/circle%3E%3Cpath stroke='%23e0e7f1' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M12 2.75V4.25'%3E%3C/path%3E%3Cpath stroke='%23e0e7f1' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M17.25 6.75L16.0659 7.93416'%3E%3C/path%3E%3Cpath stroke='%23e0e7f1' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M21.25 12.0001L19.75 12.0001'%3E%3C/path%3E%3Cpath stroke='%23e0e7f1' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M17.25 17.2501L16.0659 16.066'%3E%3C/path%3E%3Cpath stroke='%23e0e7f1' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M12 19.75V21.25'%3E%3C/path%3E%3Cpath stroke='%23e0e7f1' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M7.9341 16.0659L6.74996 17.25'%3E%3C/path%3E%3Cpath stroke='%23e0e7f1' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4.25 12.0001L2.75 12.0001'%3E%3C/path%3E%3Cpath stroke='%23e0e7f1' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M7.93405 7.93423L6.74991 6.75003'%3E%3C/path%3E%3C/svg%3E%0A");
width: 20px; 
height: 20px;
position: absolute;
z-index: 2;
top: 2px;
right: 3px;
border-radius: 50%;
transition: all 300ms ease-in-out;
}

.theme.dark::before {
transform: translateX(calc(100% + 4px));
}

.theme.dark::after {
transform: translateX(calc(-100% - 4px));
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%2312223b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M18.25 15.7499C17.2352 16.2904 16.23 16.25 15 16.25C10.9959 16.25 7.75 13.0041 7.75 9.00001C7.75 7.77001 7.70951 6.76474 8.25 5.74994C5.96125 6.96891 4.75 9.2259 4.75 12C4.75 16.004 7.99594 19.25 12 19.25C14.7741 19.25 17.031 18.0387 18.25 15.7499Z'%3E%3C/path%3E%3Cpath stroke='%2312223b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M16 4.75C16 6.95914 14.9591 9 12.75 9C14.9591 9 16 11.0409 16 13.25C16 11.0409 17.0409 9 19.25 9C17.0409 9 16 6.95914 16 4.75Z'%3E%3C/path%3E%3C/svg%3E%0A");
}
  
  h1 {
    font-size: var(--med);
  }
  
  .habit-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: var(--sm) var(--med);
    max-width: 400px;
    grid-gap: 1rem;
  }
  
  .habit {
    display: grid;
    place-items: center;
  }
  
  .habit-btn {
    width: var(--large);
    height: var(--large);
    border-radius: 50%;
    background-color: var(--primary);
    border: 6px solid var(--secondary);
    color: var(--secondary);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .habit-btn:hover {
    opacity: .8;
  }
  
  .habit-btn.completed {
    background-color: var(--secondary);
    color: var(--primary);
  }
  
  .habit-btn svg {
    pointer-events: none;
    width: var(--med);
    height: var(--med);
  }
  
  .new-habit__add {
    width: var(--med);
    height: var(--med);
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--primary);
    display: grid;
    place-items: center;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }
  
  .modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    z-index: 4;
    transition: all 300ms ease-in-out;
  }
  
  .modal-container.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal {
    border: 3px solid var(--secondary);
    padding: var(--med);
    background-color: var(--primary);
    box-shadow: 1px 4px 30px 10px var(--shadow);
    transform: translateY(30%);
    transition: all 300ms ease-in;
  }
  
  .modal-container.active .modal {
    transform: translateY(0);
  }
  
  .modal h2 {
    text-align: center;
    margin-bottom: var(--base);
  }

  .blur {
    filter: blur(10px); 
  }
  
  
  #title {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--light)  ;
    padding: .5rem;
  }
  
  #title:focus {
    outline: 2px solid var(--secondary);
  }
  
  .icons {
    display: grid;
    place-items: center;
    padding: var(--sm) 0;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-gap: 1rem;
  }
  
  .icon {
    width: var(--med);
    height: var(--med);
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--secondary);
    border: 4px solid var(--secondary);
    display: grid;
    place-items: center;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }
  
  .icon.selected {
    background-color: var(--secondary);
    color: var(--primary);
  }
  
  .modal-btns {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: .5rem;
  }
  
  #add, #cancel {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--light);
    padding: .5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  #add:hover, #cancel:hover {
    color: var(--primary);
    background-color: var(--secondary);
  }
  
  .context-menu {
    position: fixed;
    z-index: 1000;
    width: 200px;
    background-color: var(--primary);
    padding: var(--sm);
    box-shadow: 1px 4px 30px 10px var(--shadow);
    border: 3px solid var(--secondary);
    display: none;
  }
  
  .context-menu.active {
    display: grid;
  }
  
  #habitTitle::before {
    content: 'Title: ';
  }
  
  #delete, #shareOnTwitter {
    font-size: inherit;
    font-family: inherit;
    background-color: var(--primary);
    color: var(--danger);
    border: 3px solid var(--danger);
    padding: .5rem;
    margin-top: .5rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  
  #delete:hover, #delete:focus, #shareOnTwitter:focus, #shareOnTwitter:hover {
    background-color: var(--danger);
    color: var(--primary);
  }

  /* Footer styles */
  .footer {
    background-color: #333; 
    color: white; 
    padding: 20px; 
    bottom: 0;
    width: 100%;
}

/* Additional styling for the copyright text */
.footer p {
    margin: 0;
    text-align: center;
    font-size: 14px; 
}
